.productcard{
    width: 14rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.productDesc{
    display: flex;
    flex-direction: column;
    font-family: 'PT Serif', serif;
    
}
.productimg{
    width: 100%;
    border: 1px solid red;
}
.productDesc p{
    font-size: .9rem;
    word-spacing: .1cm;
    line-height: .5cm;
}
.productDesc span{
    font-size: .8rem;
    font-weight:bold;
}
.productDesc strong{
    font-family: 'Nunito Sans', sans-serif;
    margin: 1rem 0 1rem 0;
    color: rgb(151, 43, 252);
}
.productDesc button{
     background-color: rgb(32, 235, 235);
     padding: 0.8rem 1rem 0.8rem 1rem;
     border: none;
     color: white;
     transition:all 0.3s ease;
}
.productDesc button:hover{
    background-color: rgb(7, 78, 7);
}